doctype html
html

	head
		meta(charset='utf-8')
		title  Карты таро. Общий прогноз на ближайшее время
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700")
		link(rel='stylesheet', href='css/style.css')
		style.
			*,
			*::after,
			*::before {
				//- outline: 1px solid rgba(255,0,0,.5) !important
			}
		script(src="http://ctr-localhost.ru/vlad/jq.js")

	body
		.w-page
			.header
				img(src="img/logo.png", alt="").header__logo
				img(src="img/name.png", alt="").header__name
			.container
				.main
					.main__breadcrumbs.breadcrumbs
						span.breadcrumbs__home Главная
						span.breadcrumbs__current Карты таро#[span.hide-on-mobile . Общий прогноз на ближайшее время]
					.main__inner
						.main__loading
						.main__decor.main__decor--1
						.main__decor.main__decor--2
						.main__decor.main__decor--3
						.main__decor.main__decor--4
						.main__first
							h1.main__title Карты таро
							p.main__subtitle Общий прогноз на ближайшее время
							p.main__lead Cконцентрируйтесь на тревогах, подпитайте эмоционально карты #[br] И НАЖМИТЕ НА КОЛОДУ
							img.main__cardStack(src="img/stack.png", alt="")
						.main__second
							.main__cards
								.cards
									p.cards__result #[span Результат:] К сожалению, в ближайшее время вам придется #[strong пережить тяжелое испытание]
									ul.cards__list
										li.cards__item
											img.cards__pic(src="img/card-1.png", alt="")
											p.cards__num 01.
											p.cards__name Повешенный
											p.cards__text Первая карта из расклада — #[b означает перемены и жертвы]. Вы окажетесь на крутом повороте жизни, открывающим различные пути. Избранный курс потребует больших, но необходимых жертв, что может быть неправильно понято окружающими. 
											p.cards__text Жертвы будут материального характера, или разрушение прежних убеждений, но в любом случае они в конце концов приведут к новому чувству духовности и эмоционального удовлетворения.
										li.cards__item
											img.cards__pic(src="img/card-2.png", alt="")
											p.cards__num 02.
											p.cards__name Отшельник
											p.cards__text Вторая карта из расклада указывает на грядущие преграды, придирки, издевки. Ухудшение отношений с близкими людьми, коллегами по работе. Вы можете бросить то, во что вкладывали огромные силы и эмоции. Например, порвать взаимоотношения, поменять место жительства, работу.
											p.cards__text В сочетании с первой картой, это указывает на проблему связанную с близкими для вас людьми: родители, сестры или братья, супруг, супруга, дети. 
										li.cards__item
											img.cards__pic(src="img/card-3.png", alt="")
											p.cards__num 03.
											p.cards__name Луна
											p.cards__text Третья карта расклада предвещает трудное время, беспокойство, бессонницу, ночные кошмары, проблемы со здоровьем и нестабильность. В будущем вас поджидает опасность. У ваших врагов большие шансы подорвать ваше положение с помощью клеветы и предательства.
											p.cards__text В сочетании с другими картами, расклад означает, что вас ждет проблема финансового плана, которая в первую очередь отразится на ваших близких.   
											p.cards__text #[b Однако не все так безнадежно. Первая карта указывает на проблему материального характера, которая всегда связана с удачей. Поэтому ситуацию можно исправить с помощью привлечения на вашу сторону удачи, тогда весь прогноз потеряет силу и ваша судьба изменится.]
							.main__content
								.content
									h2.content__title #[b Решение проблемы - ] амулет денег и удачи
									p.content__text Итак, вам нужно получить оберег на деньги и удачу. Самым подходящим оберегом будет амулет который можно носить постоянно на себе. Лучше всего изготовить его в домашних условиях. Амулеты которые созданы вами лично — наиболее мощные по силе действия. 
									p.content__text #[b Талисман должен иметь форму круга, так как это символ финансовой стабильности. Материал должен быть металл — он символизирует прочность.]
									p.content__text #[a(href="") Money Amulet] —  как раз изготовлен для таких случаев. Его основа —  китайские монеты XIX века из пожертвований для монастырей. Во-первых, их энергетика очищены благими помыслами дарителей, а во-вторых, молитвы монахов и долгое хранение монет в святых намоленных местах — гарантия огромной положительной энергии.
									a(href="") #[img(src="img/product.png", alt="").content__product]
									h2.content__caption Ритуал активации оберега
									p.content__text После приобретения амулета и изготовления оберега, положите его на самое солнечное место в доме. Имеется в виду солнечное не за последнюю неделю, а вообще — за время вашего проживания в доме. Например, подоконник на кухне, окна которой выходят на солнечную сторону.
									p.content__text На следующее утро без посторонних свидетелей, с двух сторон от амулета завяжите на шнурке узелки. При завязывании первого узелка, вспомните о приятных, ярких событиях связанных с удачей. При завязывании второго — о хороших событиях связанных с деньгами. После чего наденьте амулет на шею, закройте глаза, изо всех сил концентрируясь на положительном настрое около минуты.
									p.content__text На этом все. Далее оберег начнет свою защиту от негативного развития события в вашей жизни.
									p.content__prize Небольшой подарок. Пройдя по ссылке от нас, вы можетеприобрести Money Amulet со скидкой
									a.content__btn(href="") Купить Money amulet 
				.footer &#169; Copyright #[span.ryear]
		script(src="js/common.js")